# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit litecoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/litecoin/litecoin.conf, except for those explicitly specified as arguments
# in ExecStart=

[Unit]
Description=Litecoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/litecoind -daemon \
                            -pid=/run/litecoind/litecoind.pid \
                            -conf=/etc/litecoin/litecoin.conf \
                            -datadir=/var/lib/litecoind

# Process management
####################

Type=forking
PIDFile=/run/litecoind/litecoind.pid
Restart=on-failure

# Directory creation and permissions
####################################

# Run as litecoin:litecoin
User=litecoin
Group=litecoin

# /run/litecoind
RuntimeDirectory=litecoind
RuntimeDirectoryMode=0710

# /etc/litecoin
ConfigurationDirectory=litecoin
ConfigurationDirectoryMode=0710

# /var/lib/litecoind
StateDirectory=litecoind
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
